*{
    margin: 0;
    padding: 0;
    text-align: center;
}
body{
    background-color: #144552;
}

h1{
    background-color: #006466;
    height: 5rem;
    color:white ;
    text-align: center;
    line-height: 5rem;
}

.choice{
    height: 165px;
    width: 165px;
    gap: 3rem;
    margin-top: 5rem;
}

.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.choice:hover{
    opacity: .5;

}

img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}


.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    gap: 50px;
    margin-top: 3rem;
    gap: 5rem;

}

#user-score,#comp-score{
    font-size: 4rem;
}

.msg-container{
    margin-top: 2rem;

}

#msg{
    background-color: #0b525b;
    color: aliceblue;
    height: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 10rem;
    cursor: pointer;
}